<h1><%= @pagetitle %></h1>

<% if @me.received_invites.count > 0 %>
<ul>
    <% for g in @me.received_invites %>
    <li>you got an invite from <%= g.inviter.login %>

        <form action="/invites/accept" method="post">

            <%= token_tag %>

            <input type="hidden" name="gID" value="<%= g.id %>" />

            <input type="submit" value="Accept" />
        </form>

    </li>
    <% end %>
</ul>

<% else %>

<p>You ain't got no invites.</p>

<% end %>
