<ul id="globalnav">

    <li><a href="/players/leaderboard">Leader board</a></li>

    <% if session[:player_id] %>
    <li>
        <a href="/players/others">Other logged-in players</a>
        <span><%= @me.other_logged_in_players.length %></span>
    </li>

    <%if @me.number_of_received_invites > 0 %>
    <li>
        <a href="/players/received">Invites</a>

        <span><%= @me.number_of_received_invites %> total</span>
    </li>
    <% end %>

    <% if @me.number_of_my_unfinished_games > 0 %>
    <li><a href="/games/my_unfinished_games">My unfinished games</a>

        <span><%= @me.number_of_my_unfinished_games %> total</span>

    </li>
    <% end %>

    <li><a href="/logout">Log out <%= @me.login %></a></li>

    <% else %>
    <li><a href="/players/register">Register</a></li>
    <li><a href="/players/login">Log in</a></li>
    <% end %>

</ul>
