<h1><%= @pagetitle %></h1>

<form action="/login" method="post">

    <%= token_tag %>

    <label>
        <input type="text" name="login" />
        <span>ID</span>
    </label>

    <label>
        <input type="text" name="password" />
        <span>Password</span>
    </label>

    <input type="submit" value="Login" />

</form>
